[submodule "OpenCL-Headers"]
	path = OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "OpenCL-ICD-Loader"]
	path = OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
